.header {
  position: relative;
  height: 3em;
  background-color: #2d232e;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  color: #f1f0ea;
}

.header span {
  display: inline;
  padding: 15px;
}

.header .dashboardCaption {
  position: absolute;
  top: 0;
  left: 0;
}

.user {
  font-weight: bold;
}

.signOut {
  text-transform: uppercase;
  cursor: pointer;
}

.signOut:hover {
  text-decoration: underline;
}
